[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1"
requests = "*"
clint = "*"
psycopg2 = "*"
pyproj = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
python-dateutil = ">=2.6.1"
openpyxl = "*"
image = "*"
pyyaml = "*"
django-postgres-copy = "*"
django-celery-beat = "*"
djangorestframework = "*"
coreapi = "*"
django-redis = "*"
colorlog = "*"
django-filter = "==2.1.0"
drf-extensions = "*"
djangorestframework-filters = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
