[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.5"
requests = "*"
clint = "*"
psycopg2 = "*"
pyproj = "*"
celery = "==4.2.1"
django-celery-results = "*"
redis = "*"
python-dateutil = ">=2.6.1"
openpyxl = "*"
image = "*"
pyyaml = "*"
django-postgres-copy = "*"
django-celery-beat = ">=1.3.0"
djangorestframework = ">=3.9.1"
coreapi = "*"
django-redis = "*"
colorlog = "*"
django-filter = "==2.1.0"
drf-extensions = "*"
djangorestframework-filters = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = ">=3.3"
sendgrid = "*"
django-dotenv = "*"
djangorestframework-csv = "*"
gunicorn = "*"
django-polymorphic = "*"
django-cors-headers = "*"
markdown = "*"

[requires]
python_version = "3.5.6"

[pipenv]
allow_prereleases = true
