[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "==2.2.20"
requests = "==2.21.0"
clint = "==0.5.1"
psycopg2 = "==2.8.2"
pyproj = "==2.4.0"
celery = "==4.3.0"
django-celery-results = "==1.0.4"
redis = "==3.2.1"
python-dateutil = "==2.8.0"
openpyxl = "==2.6.2"
image = "==1.5.27"
pyyaml = "==5.1"
django-postgres-copy = "==2.4.0"
django-celery-beat = "==1.4.0"
djangorestframework = "==3.9.4"
coreapi = "*"
django-redis = "*"
colorlog = "*"
django-filter = "==2.2.0"
drf-extensions = "==0.4.0"
djangorestframework-filters = "==1.0.0.dev0"
django-debug-toolbar = "*"
djangorestframework-simplejwt = ">=3.3"
sendgrid = "==6.0.4"
django-dotenv = "==1.4.2"
djangorestframework-csv = "*"
gunicorn = "==19.9.0"
django-polymorphic = "*"
django-cors-headers = "*"
markdown = "*"
httpretty = "*"
django-sendgrid-v5 = "*"
freezegun = "*"
gevent = "*"
xlrd = "*"
httplib2 = "*"
google-api-python-client = "==1.7.11"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
beautifulsoup4 = "*"
shapely = "*"
rollbar = "*"

[requires]
python_version = "3.5.6"

[pipenv]
allow_prereleases = true
