{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | DAP Admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Displacement Alert Project Admin</a></h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
  #header {
    background-color: #1b1e21;
  }

  #branding h1,
  #branding h1 a {
    color: white;
  }

  div.breadcrumbs {
    background-color: #111;
    color: lightgray;
  }

  .module caption {
    background-color: dimgray;
  }

  a:link,
  a:visited {
    color: cornflowerblue;
  }

  th {
    font-size: 16px;
  }

  button,
  input[type="submit"],
  .button,
  input[type="button"],
  .submit-row input,
  a.button {
    background-color: cornflowerblue;
  }

  button:hover,
  input[type="submit"]:hover,
  .button:hover,
  input[type="button"]:hover,
  .submit-row input:hover,
  a.button:hover {
    background-color: turquoise;
  }
</style>
{% endblock %}

{% block userlinks %}
  {% if user.is_staff %}
    <a href="{% url 'admin_mfa_settings' %}">Two-factor authentication</a> /
  {% endif %}
  {{ block.super }}
{% endblock %}
